.m06 {
	background: $grey;
	padding: 6em 0;


	&__title {
		margin: 0;
		text-align: center;
		color: $black;
	}

	&__leader {
		font-family: $font;
		width: 40rem;
		margin: 1em auto 0;
		text-align: center;
	}

}